@import "../../assets/styles/variables.scss";
Form {
  overflow-y: auto !important;

  h3 {
    font-size: 51px;
    font-weight: 700;
  }
  span {
    color: $text-details;
  }

  .obligatory {
    color: red;
  }

  input[type="date"], focus {
    color: #95a5a9;
  }

  .buttonCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 340px;
    height: 47px;
    background: $green-primary !important;
    border: none !important;
    border-radius: 4.8px;
    color: $dark-blue;
    font-weight: 700;
    border-bottom: 2px solid $green-details !important;
    font-size: 21px;
  }
}

.buttonCadastro:hover {
  color: $dark-blue !important;
  background-color: $success !important;
  border-color: $green-details !important;
  transform: translateY(0.2px);
}

.parent-signup{
  overflow-y: auto !important;
}

p{
 margin: 0 !important;
}
