#card-budget{
height: 77px;
width: 306px;
border-radius: 8px;
background-color: #F6F6F6;
box-shadow: 0px 3px 0px black;
border: 0;
}

#card-budget2{
height: 77px;
width: 306px;
border-radius: 8px;
background-color: #F6F6F6;
box-shadow: 0px 3px 0px #0A6545;
border: 0;
}

#card-budget3{
height: 77px;
width: 306px;
border-radius: 8px;
background-color: #F6F6F6;
box-shadow: 0px 3px 0px #CF1C1C;
border: 0;
}