button.botaoToDoList {
  width: 100%;
  max-width: 170px;
  padding: 10px 20px;
  border: 2px solid #14c989;
  background-color: #14c989;
  border-radius: 5px;
  font-weight: 700;
  color: #e6e6ee;
  cursor: pointer;
  font-size: 1.12rem;
  font-weight: 500;
  transition: filter 0.2s;

  // &:hover {
  //     filter: brightness(0.8);
  // }
}

@media (max-width: 576px) {
  button.btn {
    width: 100%;
    max-width: 100%;
  }
}
