@import "../../assets/styles/variables.scss";

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h3 {
    font-weight: 700;
    font-size: 60px;
  }
  .button-form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 340px;
    height: 47px;
    background: $green-primary !important;
    border: none !important;
    border-radius: 4.8px;
    color: $dark-blue;
    font-weight: 700;
    border-bottom: 2px solid $green-details !important;
    font-size: 21px;
  }
}

.button-form-login:hover {
  color: $dark-blue !important;
  background-color: $success !important;
  border-color: $green-details !important;
  transform: translateY(0.2px);
}