@import "../../assets/styles/variables.scss";

#view-height {
  height: 9vh;
}

.dark-blue {
  background-color: $dark-blue;
}

.button-login {
  background-color: $button-login !important;
  color: #151515 !important;
  border: $green-details 0.05px solid !important;
  border-bottom: #6a6a6a 0.0938rem solid !important;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
}

.button-login:hover {
  border-color: $green-details !important;
  transform: translateY(0.2px);
}

.button-signup {
  background-color: $green-primary !important;
  color: #151515 !important;
  border: $green-details 0.05px solid !important;
  border-bottom: $green-details 0.0938rem solid !important;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
}

.button-signup:hover {
  background-color: $success !important;
  border-color: $green-details !important;
  transform: translateY(0.2px);
}

@media only screen and (max-width: 768px) {
  .header-resp {
    display: none;
    
    nav {
      flex-wrap: wrap !important;
    }
  }

}

@media only screen and (max-width: 541px) {
  #media {
    justify-content: center !important;
    align-items: center !important;
  }

  #mediaImg {
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 353px) {
  #media {
    flex-wrap: wrap;
  }

  .button-login {
    margin-top: 10px;
    margin-bottom: 10px !important;
  }

  .button-signup {
    margin-bottom: 10px !important;
  }
}
