@import "../../assets/styles/variables.scss";

#view-height {
  height: 9vh;
}

.dark-blue {
  background-color: $dark-blue;
}

.nav-text {
  font-size: 1rem;
}
.nav-text:hover {
  color: $success;
}

.nav-text:active {
  color: $green-primary !important;
}

.btn {
  border: #6a6a6a 0.05px solid;
  border-bottom: #6a6a6a 0.0938rem solid;
}

.btn:hover {
  border-color: $green-primary !important;
  transform: translateY(0.2px);
  // padding: 2px !important;
}

.btn-success {
  border: $green-details 0.05px solid !important;
  border-bottom: $green-details 0.0938rem solid !important;
}

.btn-success:hover {
  border-color: $green-details !important;
}

.button-header {
  text-decoration: none;
  color: $dark-blue;
}

@media only screen and (max-width: 768px) {
  .header-resp {
    display: none;
  }

  nav {
    flex-wrap: wrap !important;
  }

  .button-login {
    background-color: $green-primary !important;
    border: none !important;
    width: 10rem;
    height: 3rem;
    font-weight: 700 !important;
    font-size: 1.3rem !important;
  }

  .button-signup {
    display: none !important;
  }
}

@media only screen and (max-width: 450px) {
  #media {
    margin-top: 0.625rem;
    justify-content: center !important;
    align-items: center !important;
  }

  #mediaImg {
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
  }
}
