.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.625rem 10rem;
}

.empty-dash {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-dash {
  width: 40rem;
  height: 34rem;
  margin-top: 4.5rem;
}

.text-dash > p {
  font-size: 21px;
  font-weight: 400;
}
