.spanConvidados {
  font-weight: 700;
}

thead{
  position: sticky;
}

#width-table {
  // width: 966px;
  overflow-x: auto !important;
}

.overy{
  max-height: 1100px !important;
  overflow-y: auto !important;
}

.radio2 {
  border-radius: 0.625rem;
  justify-content: center;
  width: 60.8px;
  box-shadow: 0 0 0.25rem rgba(218, 19, 19, 0.767);
  background-color: rgba(209, 84, 84, 0.767);
  color: black;
}
.radio3 {
  border-radius: 0.625rem;
  justify-content: center;
  width: 76.8px;
  box-shadow: 0 0 0.25rem rgba(226, 213, 32, 0.767);
  background-color: rgba(240, 228, 68, 0.767);
  color: black;
}
.radio1 {
  border-radius: 0.625rem;
  justify-content: center;
  width: 60.8px;
  box-shadow: 0 0 0.25rem rgba(82, 218, 19, 0.767);
  background-color: rgba(124, 219, 15, 0.767);
  color: black;
}
