.backgroundHeader {
  background-color: #191933;
  position: static !important;
  top: 0;
  width: 100vw;
}

@media only screen and (min-height: 1000px){
  .backgroundHeader{
    position: fixed !important;
  }
}
