.event-button{
    background-color:#14C989 !important;
    color: #FFFFFF;
    border: 3px #0A6545 solid ;
    padding: 3rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 0.5rem;
    box-shadow: #0A6545;
}
.image-button{
    width: 7.12rem;
    height: 7.12rem;
}