.event-button {
  background-color: #14c989 !important;
  color: #ffffff;
  border: 3px #0a6545 solid;
  padding: 3rem;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 0.5rem;
  box-shadow: 10px #0a6545;
}
.image-button {
  width: 7.12rem;
  height: 7.12rem;
}
