@import "../../assets/styles/variables.scss";

.stylesidebar {
  width: 378px !important;
  background-color: $dark-blue;
  padding: 0 32px;
}

.events-font {
  font-size: 20px;
}

#asd {
  height: 30vh;
}
.linkEvent {
  text-decoration: none;
  color: white;
}

#test-asd {
  background-color: #0d0d1a;
  width: 100%;
  height: 257px;
  border-radius: 8px;
}

h5 {
  color: white;
  font-weight: 700;
  font-size: 21px;
}

hr {
  border-top: white;
}

.logoff-botao {
  background: #191933 !important;
  border: 1px #fff solid;
  font-weight: 300;
  font-size: 20px;
  color: #6EA8FE;
}
