#footer {
    position: static !important;
    bottom: 0;
    width: 100vw;
    justify-content: space-between !important;
}
.footer{
    display: flex;
    flex-direction: row;
}
.logoFooter{
    margin-left: 72px;
}
.copyright{
    display: flex;
    justify-content: end;
    margin-right: 4.5rem;
}

@media only screen and (max-width: 500px){
 .logo-footer{
    display: none;
 }

 .logoFooter{
    margin: 0;
 }

 .copyright{
    display: none;
 }
 
 .parent-footer{
    background-color: black !important;
 }
 #footer{
    justify-content: center !important;
    margin: 0;
    padding: 0;
 }
}

@media only screen and (min-height: 1000px){
   #footer{
     position: fixed !important;
   }
 }

@media only screen and (max-width: 780px) {
   .logo-footer {
      display: none;
   }

   .footer {
      align-items: center !important;
   }


   .copyright { 
      display: none;

   }
}


