@import "../../assets/styles/variables.scss";

.img-home {
  margin-top: 3.75rem;
  width: 36rem !important;
  height: 36rem;
}

.sub-text{
  font-size: 1.65rem;
}

div > h3 {
  font-weight: 700;
  font-size: 3.1875rem;
  line-height: 4.375rem;
  text-align: left;
}

#card {
  background-color: #ffffff;
  width: 15rem;
  height: 14.5rem;
  margin-left: 1.5rem;
  border:#6A6A6A 0.05px solid;
  border-bottom: #6A6A6A .1875rem solid;
}

#cards{
  height: 40vh;
  background-color: $green-primary;
  margin-top: 3.75rem;
}

.mood {
  width: 20%;
}

h4{
  font-size: 2.175rem;
  font-weight: 700;
  line-height: 4.375rem;
  color: #0D6EFD;
}

@media only screen and (max-width: 1150px){
  .content-home,
  .img-home{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}