@import "../../assets/styles/variables.scss";

.img-home {
  margin-top: 3.75rem;
  width: 30rem !important;
  height: 30rem;
}

.content-home {
  width: 45% !important;
  padding-left: 7rem;
}

div > h3 {
  font-weight: 700;
  font-size: 3.1875rem;
  line-height: 4.375rem;
  text-align: left;
}

#card {
  background-color: #ffffff;
  width: 15rem;
  height: 14.5rem;
  margin-left: 1.5rem;
  border:#6A6A6A 0.05px solid;
  border-bottom: #6A6A6A .1875rem solid;
}

#cards{
  height: 60vh;
  background-color: $green-primary;
  margin-top: 3.75rem;
}

.mood {
  width: 20%;
}

h4{
  font-size: 2.175rem;
  font-weight: 700;
  line-height: 4.375rem;
  color: #0D6EFD;
}