@import "../../assets/styles/variables.scss";

.img-home {
  margin-top: 60px;
  width: 576px !important;
  height: 576px;
}

.sub-text {
  font-size: 26.4px;
}

div > h3 {
  font-weight: 700;
  font-size: 51px;
  line-height: 70px;
  text-align: left;
}

#card {
  background-color: #e7f1ff;
  width: 304px;
  height: 296px;
  margin-left: 24px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5) !important;
}

#card:hover {
  background: #94ecd6;
  transition: background-color 1s ease-out 100ms;
}

#cards {
  height: 485px !important;
  background-color: $green-primary;
  margin-top: 60px;
}

.mood {
  width: 20% !important;
}

h4 {
  font-size: 34.8px !important;
  font-weight: 700 !important;
  line-height: 70px !important;
  color: #0d6efd;
}

hr {
  background-color: white;
  height: 1px;
  width: 100%;
}

@media only screen and (max-width: 1150px) {
  .content-home,
  .img-home {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 850px) {
  h4 {
    font-size: 25px !important;
  }
  .span-responsivity {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 768px) {
  .img-home {
    width: 70% !important;
    height: 70% !important;
  }

  .home-text {
    text-align: center !important;
    font-size: 2rem;
  }

  .home-subtext {
    font-size: 1.5rem !important;
    text-align: center !important;
  }

  #cards {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    align-items: center;

    height: 50rem;

    overflow-x: auto !important;
  }

  #card {
    flex: 0 0 55%;
    padding: 0;
  }
}
@media only screen and (max-width: 450px) {
  #card {
    flex: 0 0 80%;
    padding: 0;
  }

  .img-home {
    display: none;
  }
}
