.header-link{
    display: block;
    width: 43.75rem;
    padding: 1.875rem;
    background-color: #E7F1FF;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;   
}
.header-font{
    font-size: 1.15rem;
    color: #6A6A6A;
    text-decoration: none !important;
}