.header-link {
  display: block;
  width: 43.75rem;
  padding: 1.875rem;
  background-color: #e7f1ff;
  width: 100%;
  align-items: center;
}
.header-font {
  font-size: 1.4rem;
  color: #6a6a6a;
  text-decoration: none !important;
}
