$text-details: #6c757d;
$green-primary: #14c989;
$green-details: #0a6545;
$dark-blue: #191933;
$success: #14c989;
$success: #72e7be;
$dark: #191933;
$card: #e7f1ff;

@import "../node_modules/bootstrap/scss/bootstrap";
