$text-details: #6c757d;
$green-primary: #14c989;
$green-details: #0a6545;
$dark-blue: #191933;
$success: #14C989;
$dark: #191933; 
$card: #E7F1FF;

@import "../node_modules/bootstrap/scss/bootstrap";
