.card-event {
  background-color: #f6f6f6;
  width: 19.125rem;
  height: 21.25rem;
  border: 1px #47475C;
  border-bottom: 4px solid #47475C;
  border-radius: 0.5rem;
  .cardImage {
    width: 23%;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  padding: 2rem;
  margin: none;
}

span {
  font-size: 1.25rem;
  font-weight: 400;
  color: #353535;
}

hr {
  background-color: white;
  height: 1px;
  width: 100%;
}

@media only screen and (max-width: 1150px) {
  .content-home,
  .img-home {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
